<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
    <%= link_to tag.name, tag_path(tag),
          class: 'tag', id: "tag_#{tag.name}"%>
    </li>
  <% end %>
</ul>
<br/>
<%= link_to "View the Articles List", articles_path%>
